@media  (max-width: 992px){
    
    body{
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        width: 100%;
        background-color: rgb(231, 230, 230);
        transition: all 0.3s linear;
    }
    
    .loginBtn{
        background-color: #556b2f;
        margin-top: 10px ;
        font-size: larger;
        font-weight: bold;
        color: azure;
        border: 2px solid #556b2f;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .close {
        width: 40px;
        position: absolute;
        right: 10px;
        top:10px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }
    
      .close:hover{
          opacity: 0.8;
          color: #fff;
          background-color: red;
      }
    
      .loginBtn, .login-box{
          width: 90%;
          animation: animate 0.6s ease-in-out;
          padding: 5px;
      }
    
      .login-box{
          position: relative;
          display: none;
          justify-content: center;
          align-items: center;
          top: 100px;
          background: linear-gradient(0.25turn, #556b2f, #ebf8e1, #556b2f);
          /* z-index: 3; */
          border-radius: 15px;      
      }
    
      .img-login, .form-box{
          width: 48%;
          padding: 10px;     
          /* background-color: #BA68C8;  */
      }
    
      .form-box{
          display: flex;
          flex-flow: wrap column;
          justify-content: center;
          align-items: center;
          color: #fff;
          /* background-color: #E0E0E0; */
      }
    
      .form-box>h1{
        margin-bottom: 50px;
      }
    
      .form-box>div{
          display: flex;
          justify-content: center;
          width: 90%;
          /* background-color: brown; */
          padding: 10px;
      }
    
      .fa-user-tie, .fa-key{
          padding: 5px;
          background-color: #BA68C8;
          color: #fff;
      }
    
      #user-name, #user-pass{
          padding: 5px;
          width: 80%;
      }
    
      .forgot-info{
          font-size: 14px;
          padding: 5px;
          color: #341D38;
      }
    
      .forgot-info>a{
          cursor: pointer;
          text-decoration: none;
          color: #2b6be2;
          font-style: oblique;
      }
    
      .forgot-info>a:hover{
        opacity: 0.8;
        color: #341D38;
        font-weight: bold;
    }
    
      .subBtn-box{
          width: 50%;
          /* background-color: #fff; */
      }
    
      input[type="submit"]{
          width: 100%;
          padding: 8px;
          background-color: #BA68C8;
          outline: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
          font-size: 16px;
      }
    
      .checkLabel{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40%;
          font-size: 14px;
      }
    
      input[type="checkbox"]{
          margin-right: 5px;
      }
    }